@font-face {
  font-family: "iconfont"; /* Project id 4122062 */
  src: url('//at.alicdn.com/t/c/font_4122062_0b6nysthgm4u.woff2?t=1687165428763') format('woff2'),
       url('//at.alicdn.com/t/c/font_4122062_0b6nysthgm4u.woff?t=1687165428763') format('woff'),
       url('//at.alicdn.com/t/c/font_4122062_0b6nysthgm4u.ttf?t=1687165428763') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e615";
}

.icon-search:before {
  content: "\e65c";
}

.icon-more:before {
  content: "\e88e";
}
